<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}

<html>
<head>
	<title>Atlas</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"/>

	<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0H2gmjFao_osUOe6ZXJqZDTUO6iOuwEQ&sensor=true&libraries=places"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
	<script src="{% static 'jquery.cookie.js' %}"></script>
	<script type="text/javascript" src="{% static 'example.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'atlas_favicon.ico' %}" >
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">

			<a class="navbar-brand" href="{% url 'homepage' %}">Atlas</a>
			<input id="search" class="navbar-left controls" type="text" placeholder="Search for a place">

			<p class="navbar-text navbar-right"><a href="{% url 'auth_login' %}" class="navbar-link"><b>Log in</b></a> or <a href="{% url 'registration_register' %}" class="navbar-link"><b>Sign up</b></a> to see your own map!</p>

		</div>
	</div>
	<div class="spinner">
		<div class="rect1"></div>
		<div class="rect2"></div>
		<div class="rect3"></div>
		<div class="rect4"></div>
		<div class="rect5"></div>
	</div>

	<div id="infobox">
		<div id="message">Click on any country!</div>
		<div id="choices"></div>
		<div id="facebook">Connect with Facebook to see which of your friends have been here!</div>
		<div id="user_info">
			<div id="stats">
				<div id="percentage">
					You've seen <b>14%</b> of the world.
				</div>
				<div id="badge">
					Rank: <b>ADVENTURER</b>
				</div>
			</div>
		</div>
	</div>

	<div id="map-canvas"/>

</body>
</html>