<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}

<html class="skrollr skrollr-desktop">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Atlas: Share your journeys with the world.</title>

  <!-- Bootstrap core CSS -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"/>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

      <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

</head>
<body>
     <div class="overlay"></div>
     <iframe src="{% url 'registration_register' %}" id="register_frame" name="register_frame"></iframe>
     <iframe src="{% url 'auth_login' %}" id="login_frame" name="login_frame"></iframe>
      <div class="navbar navbar-default navbar-fixed-top" id="header_nav" role="navigation" data-size="big">
        <div class="container">

          <a class="navbar-brand" href="{% url 'homepage' %}">Atlas</a>

          <ul class="nav navbar-nav navbar-right" id="menu">
            <li><a href="#main">Home</a></li>
            <li><a href="#info">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          {% if user.is_authenticated %}
          <p class="navbar-text navbar-right">Hello there, <a href="#" class="navbar-link">{{ user.username }}</a>!</p>
          {% endif %}

        </div>
      </div>

      <section id="main">
        <div class="bcg"
          data-center="background-position: 100% 0px;"
          data-top-bottom="background-position: 100% -100px;"
        >
        <div class="container">
          <div class="jumbotron"                  
          data-center="opacity: 1"
          data-top-bottom="opacity: 0" >
            <h1>Show the world <br>where you've been.</h1> <br>
            <p id="tagline">Document and share your journeys throughout the world, with the world.</p> <br>
            <p>
              <a class="btn btn-lg btn-primary" role="button" target="register_frame">Get Started</a>
              <a class="login" href="javascript:void(0);" target="login_frame">&nbsp;&nbsp;&nbsp;Sign in</a>
            </p>
          </div>
        </div>
        </div>
      </section>

      <section id="info">
        <div class="bcg container">
          <div class="infobox" id="create">
            <img src="{% static 'map.png' %}">
            <h3>Create your map</h3>
            <p>Just tap a country to record where you've been. The more you've traveled, the more badges you'll earn. Bonus points for more exotic places!</p>
          </div>
          <div class="infobox" id="illustrate">
            <img src="{% static 'pencil.png' %}">
            <h3>Illustrate your adventures</h3>
            <p>Upload photos, videos, or write a journal entry for each country you've been to. All of your memories are kept here in one convenient place.</p>
          </div>
          <div class="infobox" id="share">
            <img src="{% static 'share.png' %}">
            <h3>Share your experiences</h3>
            <p>See where in the world your friends have traveled. Compare your adventures, recommend new destinations and show off your hidden secrets!</p>
          </div>
        </div>
      </section>

      <section id="example">
        <p id="example_text">Explore the possibilities ≫</p>
      </section>

      <section id="redux">
        <div class="bcg"
          data-600-bottom="background-position: 100% 100px;"
          data-bottom="background-position: 100% 0px;">
          <div class="container">
            <div class="jumbotron"                  
                data-100-bottom="opacity: 0;"
                data-bottom="opacity: 1;" >
              <h1>What are you waiting for?</h1> <br>
              <p>
                <a class="btn btn-lg btn-primary" role="button" target="register_frame">Get Started</a>
                <a class="login" href="javascript:void(0);" target="login_frame">&nbsp;&nbsp;&nbsp;Sign in</a>
              </p>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="contact">

          <p class="author">Built with ♥ by Daniel Ni</p>

          <p class="email">
            Feel free to <a href="mailto:danielni@wustl.edu">contact me via email</a>!
          </p>

    </section>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
    <script type="text/javascript" src="{% static 'skrollr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'skrollr.menu.min.js' %}"></script>
    <script type="text/javascript">
      var s = skrollr.init();
      skrollr.menu.init(s, {
        animate: true
      });
    </script>
  </body>
  </html>
