<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}

<html>
<head>
	<title>Travel Tracker</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"/>

	<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{% static 'raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kartograph.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'profile.js' %}"></script>
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">

			<a class="navbar-brand" href="{% url 'home' %}">Travel Tracker</a>

			{% if user.is_authenticated %}
			<p class="navbar-text navbar-right">Hello there, <a href="{% url 'profile' %}" class="navbar-link">{{ user.username }}</a>!&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="{% url 'auth_logout' %}" class="navbar-link">Log out</a></p>
			{% endif %}

		</div>
	</div>

	<div id="map"></div>

</body>
</html>