<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}

<html>
<head>
	<title>Travel Tracker</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"/>

	<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	html { height: 100% }
	body { height: 100%; margin: 0; padding: 0 }
	#map-canvas { height: 100% }
	</style>
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0H2gmjFao_osUOe6ZXJqZDTUO6iOuwEQ&sensor=true">
	</script>
	<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
	<script type="text/javascript">
	function initialize() {
		var styles = [
		{
			featureType: "administrative.country",
			stylers: [
			{ visibility: "on" }
			]
		},{
			featureType: "administrative.province",
			stylers: [
			{ visibility: "on" }
			]
		},{
			featureType: "landscape",
			stylers: [
			{ visibility: "off" }
			]
		},{
			featureType: "poi",
			stylers: [
			{ visibility: "off" }
			]
		},{
			featureType: "road",
			stylers: [
			{ visibility: "off" }
			]
		}
		]
		var mapOptions = {
			zoom: 2,
			center: new google.maps.LatLng(25, 0),
			mapTypeControl: false,
			panControlOptions: {
				position: google.maps.ControlPosition.LEFT_CENTER
			},
			zoomControlOptions: {
				position: google.maps.ControlPosition.LEFT_CENTER
			},
			styles: styles
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"),
			mapOptions);

		var tableID = '1uKyspg-HkChMIntZ0N376lMpRzduIjr85UYPpQ';

		var layer = new google.maps.FusionTablesLayer({
			query: {
				select: 'kml_4326',
				from: tableID,
				// where: "name = '"+countryName+"'"
			},
			styles: [{
				polygonOptions: {
					fillColor: "#FFFFFF",
					fillOpacity: 0
				}
			}]
		});
		layer.setMap(map);

		// var infobox = new InfoBox({
		// 	content: document.getElementById("infobox"),
		// 	disableAutoPan: false,
		// 	maxWidth: 0,
		// 	pixelOffset: new google.maps.Size(-140, 0),
		// 	boxStyle: {
		// 		background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
		// 		opacity: 0.75,
		// 		width: "280px"
		// 	},
		// 	closeBoxMargin: "12px 4px 2px 2px",
		// 	closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
		// 	infoBoxClearance: new google.maps.Size(1, 1)
		// });

		var infowindow = new google.maps.InfoWindow();
		var color = '#008C00'
		google.maps.event.addListener(layer,'click',function(e) {
			var countryName = e.row['name'].value;
			// var contentString = document.getElementById("infowindow");
			var contentString =
			'<div id="content">'+
			'<h3 class="firstHeading">'+countryName+'</h3>'+
			'<div id="bodyContent">'+
			"<label class='choice' for='live'>"+
			"<input id='live' type='radio' name='choice' value='#008C00' />"+
			"<a class='Live'>◼ I've lived here.</a>"+
			"</label><br>"+
			"<label class='choice' for='been'>"+
			"<input id='been' type='radio' name='choice' value='#003399' />"+
			"<a class='Been'>◼ I've been here.</a>"+
			"</label><br>"+
			"<label class='choice' for='cancel'>"+
			"<input id='cancel' type='radio' name='choice' value='#FFFFFF' />"+
			"<a class='Cancel'>◻ Cancel</a>"+
			"</label>"+
			'</div>'+
			"</div>";
			var styling = [];
			infowindow.setContent(contentString);
			infowindow.setPosition(new google.maps.LatLng(e.latLng.lat(), e.latLng.lng()));
			layer.set("styles", [{
				polygonOptions: {
					fillColor: '#FFFFFF',
					fillOpacity: 0
				}
			},	{
				where: "name = '"+countryName+"'", 
				polygonOptions: {
					fillColor: color, 
					fillOpacity: 0.5, 
				}
			}
			]);
			infowindow.open(map);
			google.maps.event.addDomListener(document.getElementById('been'), 'click', function() {
				color = this.value;
				layer.set("styles", [{ //There has to be a better way to do this than to reset the layer everytime
				polygonOptions: {
					fillColor: '#FFFFFF',
					fillOpacity: 0
				}
			},	{
				where: "name = '"+countryName+"'", 
				polygonOptions: {
					fillColor: color, 
					fillOpacity: 0.5, 
				}
			}
			]);
			});
			google.maps.event.addDomListener(document.getElementById('live'), 'click', function() {
				color = this.value;
				layer.set("styles", [{ //There has to be a better way to do this than to reset the layer everytime
				polygonOptions: { // Also it doesn't even work because when you change countries you can no longer change the color
					fillColor: '#FFFFFF',
					fillOpacity: 0
				}
			},	{
				where: "name = '"+countryName+"'", 
				polygonOptions: {
					fillColor: color, 
					fillOpacity: 0.5, 
				}
			}
			]);
			});
			google.maps.event.addDomListener(document.getElementById('cancel'), 'click', function() {
				color = this.value;
				layer.set("styles", [{ //There has to be a better way to do this than to reset the layer everytime
				polygonOptions: {
					fillColor: '#FFFFFF',
					fillOpacity: 0
				}
			},	{
				where: "name = '"+countryName+"'", 
				polygonOptions: {
					fillColor: color, 
					fillOpacity: 0.5, 
				}
			}
			]);
			});
		});
		}
		google.maps.event.addDomListener(window, 'load', initialize);

</script>
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">

			<a class="navbar-brand" href="{% url 'home' %}">Travel Tracker</a>

			{% if user.is_authenticated %}
			<p class="navbar-text navbar-right">Hello there, <a href="{% url 'profile' %}" class="navbar-link">{{ user.username }}</a>!&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="{% url 'auth_logout' %}" class="navbar-link">Log out</a></p>
			{% endif %}

		</div>
	</div>

<!-- 	<div class="infobox-wrapper">
		<div id="infobox">
			The contents of your info box. It's very easy to create and customize.
		</div>
	</div> -->
<!-- 	<div id="infowindow">
		TESTIFJASDOFJSDOIJSOD
	</div> -->

	<div id="map-canvas"/>
</body>
</html>