<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}

<html>
<head>
  <title>Atlas</title>
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>

<body>
<div class="container">

    <form class="form-register" role="form" method="post" action="." target="_parent">
        {% csrf_token %}
        <h1 class="form-register-heading">Register</h1>

        <input id="id_username" type="text" name="username" maxlength="30" class="form-control" placeholder="Username" required autofocus>
        <input type="text" name="email" id="id_email" class="form-control" placeholder="Email" required>
        <input type="password" name="password1" id="id_password" class="form-control" placeholder="Password" required>
        <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Password again" required>
        
        <p>{{ form.non_field_errors.as_text }}</p>
        <p>{{ form.username.errors.as_text }}</p>
        <p>{{ form.email.errors.as_text }}</p>
        <p>{{ form.password.errors.as_text }}</p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>

    <h3 class="login"><a href="{% url 'auth_login' %}"> Already have an account? Sign in here. </a></h3>

</div>

  <script type="text/javascript">
    $('p').each(function() {
      $(this).text($(this).text().replace('*', ''));
    });
  </script>
</body>

</html>